<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Suspicious Login Attempt</h1>
  <p>Hello <%= @user.email %>,</p>
  <p>We noticed a suspicious login attempt on your account from a new IP address.</p>
  <p>If this was you, you can safely ignore this email. However, if you don't recognize this activity, please contact our support team immediately.</p>
  <p>Thank you,</p>
  <p>Your Website Team</p>
</body>
</html>
